/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture,
img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

/*Root Settings*/

:root {
    /* Primary */
    --clr-primary-1: #1F1534;
    --clr-primary-2: #7D7987;
    --clr-primary-3: #458FF6;

    /* Neutral */
    --clr-neutral-1: #000000;
    --clr-neutral-2: #FFFFFF;

    /* Gradient */
    --linear-gradient-1: linear-gradient(223deg, #67C3F3 0%, #5A98F2 100%);
    --linear-gradient-2: linear-gradient(212deg, #67C3F3 0%, #5A98F2 100%);

    /* Font Weight */
    --light: 300;
    --medium: 400;
    --bold: 700;

    /* Font Family */
    --ff-primary: muli, sans-serif;
}

/*Basic Styles*/

body {
    background: var(--clr-neutral-2);
    font-family: var(--ff-primary);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*Container*/

.container {
    display: grid;
    place-content: center;
    margin: 3.5rem 0 0;
}