/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture,
img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

/*Root Settings*/

:root {
    /* Primary */
    --clr-primary-1: #1F1534;
    --clr-primary-2: #7D7987;
    --clr-primary-3: #458FF6;

    /* Neutral */
    --clr-neutral-1: #000000;
    --clr-neutral-2: #FFFFFF;

    /* Gradient */
    --linear-gradient-1: linear-gradient(223deg, #67C3F3 0%, #5A98F2 100%);
    --linear-gradient-2: linear-gradient(212deg, #67C3F3 0%, #5A98F2 100%);

    /* Font Weight */
    --light: 300;
    --medium: 400;
    --bold: 700;

    /* Font Family */
    --ff-primary: muli, sans-serif;
}

/*Basic Styles*/

body {
    background: url(../images/dotted-bg.svg), url(../images/dotted-bg.svg);
    background-repeat: no-repeat;
    background-position: left 10rem, right 173.94rem;
    font-family: var(--ff-primary);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Container*/

.container {
    display: grid;
    place-content: center;
    margin: 3.5rem 0 0;
}

/*Header*/

.container__header {
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1.45fr;
    grid-template-areas:
        "nav nav"
        "content illustration"
    ;
    row-gap: 5rem;
    column-gap: 6.81rem;
    justify-items: center;
    padding: 0 10.19rem 0 11.88rem;
}

.container__header__nav {
    display: flex;
    gap: 32rem;
    align-items: center;
    grid-area: nav;
    padding: 0 1.81rem 0 0.06rem;
}

.container__header__nav__list {
    display: flex;
    gap: 2.5rem;
    padding: .88rem 0 0;
}

.container__header__nav__list__menu__link {
    color: var(--clr-primary-1);
    font-size: 1.125rem;
    font-weight: var(--medium);
    opacity: .5;
}

.container__header__nav__list__menu:first-child .container__header__nav__list__menu__link {
    font-weight: var(--bold);
    opacity: 1;
}

.container__header__content {
    grid-area: content;
    align-self: center;
    display: grid;
    text-align: start;
}

.container__header__content__heading {
    color: var(--clr-neutral-1);
    font-size: 3rem;
    line-height: 116.667%;
}

.container__header__content__heading__span {
    display: block;
}

.container__header__content__text {
    color: var(--clr-primary-2);
    font-size: 1.3125rem;
    font-weight: var(--light);
    line-height: 152.381%;
    max-width: 35ch;
    margin-top: 1.56rem;
}

.container__header__content__btn {
    color: var(--clr-neutral-2);
    background: var(--clr-primary-3);
    font-size: 1.125rem;
    font-weight: var(--bold);
    width: 12.5rem;
    height: 3.5rem;
    border-radius: 3.4375rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.container__header__illustration {
    grid-area: illustration;
}

/*Services*/

.container__services {
    background: url(../images/vector-bg.svg), url(../images/dotted-bg2.svg);
    background-repeat: no-repeat;
    background-position: left 13.5rem, 79.88rem 34.5rem;
    width: 100%;
    display: grid;
    justify-items: center;
    margin-top: 12rem;
}

.container__services__header {
    text-align: center;
    display: grid;
    justify-items: center;
}

.container__services__header__heading {
    color: var(--clr-neutral-1);
    font-size: 2.25rem;
    font-weight: var(--bold);
    line-height: 155.556%;
}

.header__line {
    width: 3.5rem;
    height: 0.125rem;
}

.container__services__header__line {
    background: var(--clr-neutral-1);
    border-radius: 0.3125rem;
    margin-top: 1.63rem;
}

.container__services__header__text {
    color: var(--clr-primary-2);
    font-size: 1.125rem;
    font-weight: var(--light);
    max-width: 86ch;
    line-height: 166.667%;
    margin-top: 2.06rem;
}

.container__services__content {
    display: grid;
    gap: 2.25rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 15rem;
    margin-top: 5rem;
}

.container__services__content__card {
    background: var(--clr-neutral-2);
    border-radius: 1.25rem;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    display: grid;
    align-content: baseline;
    padding: 3.88rem 3.25rem 2.94rem 2.31rem;
}

.container__services__content__card__heading {
    color: var(--clr-neutral-1);
    font-size: 1.5rem;
    font-weight: var(--bold);
    line-height: 233.333%;
    margin-top: 1.21rem;
}

.container__services__content__card__text {
    color: var(--clr-primary-2);
    font-size: 1rem;
    font-weight: var(--light);
    line-height: 1.75;
    margin-top: .04rem;
}

.container__services__btn {
    color: var(--clr-primary-3);
    font-size: 1.125rem;
    font-weight: var(--bold);
    text-align: center;
    line-height: 333.333%;
    border: 1.4px solid var(--clr-primary-3);
    border-radius: 3.4375rem;
    padding: 0.19rem 3.19rem .06rem;
    margin-top: 4.5rem;
}

/*Health Care*/

.container__health-care {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 8.88rem;
    justify-self: center;
    margin-top: 13.81rem;
}

.container__health-care__header {
    display: grid;
    justify-items: start;
    align-items: center;
    align-self: center;
}

.container__health-care__header__heading {
    color: var(--clr-neutral-1);
    font-size: 2.25rem;
    font-weight: var(--bold);
    max-width: 20ch;
    line-height: 155.556%;
}

.container__health-care__header__line {
    background: var(--clr-neutral-1);
    border-radius: 0.625rem;
    margin-top: 1.63rem;
}

.container__health-care__header__text {
    color: var(--clr-primary-2);
    font-size: 1.125rem;
    font-weight: var(--light);
    max-width: 38ch;
    line-height: 166.667%;
    margin-top: 1.94rem;
}

.container__health-care__header__btn {
    color: var(--clr-primary-3);
    font-size: 1.125rem;
    font-weight: var(--bold);
    text-align: center;
    line-height: 333.333%;
    border: 1.4px solid var(--clr-primary-3);
    border-radius: 3.4375rem;
    padding: 0.19rem 3.19rem .06rem;
    margin-top: 2.5rem;
}

/*Download*/

.container__download {
    display: grid;
    gap: 4.44rem;
    grid-template-columns: 1fr 1.5fr;
    justify-self: center;
    margin-top: 14.31rem;
}

.container__download__header {
    display: grid;
    justify-items: start;
    align-items: center;
    align-self: center;
}

.container__download__header__heading {
    color: var(--clr-neutral-1);
    font-size: 2.25rem;
    font-weight: var(--bold);
    max-width: 16ch;
    line-height: 133.333%;
}

.container__download__header__line {
    background: var(--clr-neutral-1);
    border-radius: 0.375rem;
    margin-top: 1.88rem;
}

.container__download__header__text {
    color: var(--clr-primary-2);
    font-size: 1.125rem;
    font-weight: var(--light);
    max-width: 34ch;
    line-height: 166.667%;
    margin-top: 1.94rem;
}

.container__download__header__btn {
    color: var(--clr-primary-3);
    font-size: 1.125rem;
    font-weight: var(--bold);
    text-align: center;
    width: 12.5rem;
    height: 3.5rem;
    line-height: 333.333%;
    border: 1.4px solid var(--clr-primary-3);
    border-radius: 3.4375rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: .92rem;
    margin-top: 2.5rem;
}

.container__download__header__btn__icon {
    width: 0.96463rem;
    height: 0.61381rem;
    transform: rotate(90deg);
}

/*Testimonials*/

.container__testimonials {
    background: url(../images/dotted-bg.svg);
    background-repeat: no-repeat;
    background-position: -.2rem 16.94rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 2.62rem;
    margin-top: 16.62rem;
    justify-self: center;
    padding: 0 3.5rem;
}

.container__testimonials__card {
    background: url(../images/dotted-bg3.svg), var(--linear-gradient-1);
    background-position: 64.5rem -1rem, top;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    display: grid;
    row-gap: 4.12rem;
    column-gap: 6.87rem;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
        "header header"
        "profile review"
    ;
    align-items: center;
    padding: 0 7.38rem 4.94rem;
}

.container__testimonials__card__header {
    text-align: center;
    display: grid;
    gap: 1.56rem;
    justify-items: center;
    padding: 4rem 0 0;
    grid-area: header;
}

.container__testimonials__card__header__heading {
    color: var(--clr-neutral-2);
    font-size: 2.25rem;
    line-height: 133.333%;
}

.container__testimonials__card__header__line {
    background: var(--clr-neutral-2);
    border-radius: 0.375rem;
}

.container__testimonials__card__profile {
    display: flex;
    gap: 1.81rem;
    align-items: center;
    grid-area: profile;
}

.container__testimonials__card__profile__text__name {
    color: var(--clr-neutral-2);
    font-size: 1.375rem;
    font-weight: var(--bold);
    line-height: 218.182%;
}

.container__testimonials__card__profile__text__info {
    color: var(--clr-neutral-2);
    font-weight: var(--medium);
}

.container__testimonials__card__review {
    color: var(--clr-neutral-2);
    font-size: 1.1875rem;
    font-weight: var(--medium);
    max-width: 36ch;
    line-height: 157.895%;
    grid-area: review;
}

.container__testimonials__slider {
    display: flex;
    gap: 5.6rem;
}